.cvEducation {
    grid-area: education;
    border-top: solid #d0d0d0 5px;
    display: grid;
    /* grid-template-rows: 20% 18% 60% ; */
    grid-auto-rows: max-content;
    grid-template-columns: 80% 20%;
    grid-template-areas: "title title"
        "detail date"
        "description description"
        ;
    padding: 5px 0;
}

.edTitle {
    grid-area: title;
}

.cvDetail {
    grid-area: detail;
}

.detailDate {
    grid-area: date;
}

.detailDate h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #d0d0d0;
}

.edDegree {
    grid-area: description;
    padding-top: 5px;
}