.formContact {
    grid-area: contact;
    overflow: hidden;
}

.formContact h2 {
    font-size: x-large;
    color: #555555;
    padding: 10px 0;
}

.formContact input {
    font-size: medium;
    font-weight: 400;
    background: none;
    border: none;
    border-bottom: solid 1px #292929;
    padding-bottom: 0.4rem;
    margin-bottom: 0.4rem;
}
