.formEducation {
    grid-area: education;

    display: grid;
    grid-auto-rows: max-content;
    grid-template-areas: "t t"
        "sc sc"
        "deg dat";
}

.edu {
    grid-area: t;
}
.edu h2 {
    font-size: x-large;
    color: #555555;
    padding: 10px 0;
}
.edSchool {
    grid-area: sc;

}


.edDate {
    grid-area: dat;
}

.eduDegree {
    grid-area: deg;
}

.formEducation input {
    font-size: medium;
    font-weight: 400;
    background: none;
    border: none;
    border-bottom: solid 1px #292929;
    padding-bottom: 0.4rem;
    margin-top: 5px;
}