@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

input {
  outline: none;
}

.Application {
  /* background-color: #353a44; */
  overflow: hidden;
  background-color: #f4f5fa;
  min-height: 100vh;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  color: #282c34;
  font-family: 'Montserrat',  sans-serif;
  transition: all 3.5s ease-in-out ;
}

.active {
  background-color: #141414;
}



.cvtemplate {
  box-sizing: border-box;
  margin-top: 100px;
  margin-bottom: 50px;
  border-radius: 1rem;
  background-color: white;
  color: #01263a;
  width: 595px;
  height: 842px;
  display: none;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; 
}

.information {
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
  width: 75%;
  height: 100%;

  background-color: #fcef9c2a;
  display: grid;
  grid-template-areas: "header header"
    "main sidebar"
    "job job"
    "footer lang";
  grid-template-columns: 55% 45%;
  grid-template-rows: 20% 30% 30% 20%;

  padding: 5px;
  
}
.personalI {
  grid-area: main;
}
